/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.card-small{
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 3px;
}